[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CatDataAnalysis"]
	path = CatDataAnalysis
	url = https://github.com/cran/CatDataAnalysis
[submodule "TSHRC"]
	path = TSHRC
	url = https://github.com/cran/TSHRC
[submodule "aster2"]
	path = aster2
	url = https://github.com/cran/aster2
[submodule "fuzzyRankTests"]
	path = fuzzyRankTests
	url = https://github.com/cran/fuzzyRankTests
[submodule "glmbb"]
	path = glmbb
	url = https://github.com/cran/glmbb
[submodule "pooh"]
	path = pooh
	url = https://github.com/cran/pooh
[submodule "potts"]
	path = potts
	url = https://github.com/cran/potts
[submodule "rcdd"]
	path = rcdd
	url = https://github.com/cran/rcdd
[submodule "sped"]
	path = sped
	url = https://github.com/cran/sped
[submodule "trust"]
	path = trust
	url = https://github.com/cran/trust
[submodule "ump"]
	path = ump
	url = https://github.com/cran/ump
